.news {
  border-bottom: 2px solid $lt-blue;
  border-top: 2px solid $lt-blue;
  color: $white; 
  text-align: center; 
  
  > div {
    background-color: $lt-blue; 
    background-image: img-url("bg-texture.png");
    border-bottom: 5px solid $white;
    border-top: 5px solid $white;
    padding: 0 $gridpad $gridpad;
  }

  h1 {
    font-size: 2.25em;
    background-color: $white; 
    color: $lt-blue;
    text-align: center; 
    width: 33%;
    margin: 0 auto;
    padding: 0.25em;
    border-radius: 0 0 0.25em 0.25em;

  }

  h2 {
    color: $white; 
    font-family: "Bitter";
    font-weight: 300;
    text-transform: initial;
    font-size: 2.4em;
  }
}
