.section-nav {
  @include clearfix; 
  font-family: "Franchise Bold";
  line-height: 1;

  a { 
    display: inline-block; 
    float: left; 
    font-size: 1.6em;
    padding: 1em;
    text-decoration: none;
    width: 20%;
  }

  a::before {
    $iconsize: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: $iconsize;
    margin: 0 auto 1em;
    width: $iconsize;
  }

  a:not(:last-child) {
    border-right: 2px dotted $yellow; 
  }

  .workforce {
    color: $orange;
    
    &::before {
      background-image: img-url("svg/workforce-icon.svg");
    }
  }

  .pedestrian {
    color: $yellow;

    &::before {
      background-image: img-url("svg/pedestrian-icon.svg");
    }
  }

  .residential {
    color: $purple;

    &::before {
      background-image: img-url("svg/residential-icon.svg");
    }
  }

  .visitor {
    color: $blue;

    &::before {
      background-image: img-url("svg/visitor-icon.svg");
    }
  }

  .parking {
    color: $red;

    &::before {
      background-image: img-url("svg/parking-icon.svg");
    }
  }
}
