.section-nav {
  @include clearfix; 
  font-family: "Franchise Bold";
  line-height: 1;

  a { 
    text-decoration: none;  
    display: block;
    line-height: 62px; 
  }

  a::before {
    $iconsize: 36px;
    height: $iconsize;
    width: $iconsize;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;

  }



  .workforce {
    color: $orange;
    
    &::before {
      background-image: img-url("svg/workforce-icon.svg");
    }
  }

  .pedestrian {
    color: $yellow;

    &::before {
      background-image: img-url("svg/pedestrian-icon.svg");
    }
  }

  .residential {
    color: $purple;

    &::before {
      background-image: img-url("svg/residential-icon.svg");
    }
  }

  .visitor {
    color: $blue;

    &::before {
      background-image: img-url("svg/visitor-icon.svg");
    }
  }

  .parking {
    color: $red;

    &::before {
      background-image: img-url("svg/parking-icon.svg");
    }
  }

  @include breakpoint($medium) {
    a { 
      line-height: 1;
      display: inline-block; 
      float: left; 
      font-size: 1.6em;
      padding: 1em;
      width: 20%;

      &:not(:last-child) {
        border-right: 2px dotted $yellow; 
      }

      &::before {
        $iconsize: 100px;
        margin: 0 auto 1em;
        height: $iconsize;
        width: $iconsize;
        display: block;
      }
    }
  }

}

