.jumbotron {
  background-color: $yellow; 
  background-image: img-url("bg-texture.png");
  margin: -1em (-1 * $gridpad/4);
  padding: $gridpad/2;
  text-align: center;
  border-top: 15px solid #fff;
  
  @include breakpoint($medium) {
    border-top: none;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    margin: -1em (-1 * $gridpad/2);
    @include border-radius(0 0 10px 10px);
  }

  @include breakpoint($large) {
    margin: -1em (-1 * $gridpad) 0;
    padding: ($vertpad * 2) ($gridpad * 2); 
    @include border-radius(10px);
  }

  h1,
  h2,
  h3,
  h4 { 
    color: $white; 
    margin: 0;
  }
  
  h1 {
    font-size: 4em;
    @include breakpoint($large) {
      font-size: 6em;
    }
  }

  h1::before {
    content: img-url("svg/location-icon.svg");
    display: block;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 0.5em;
    width: 100px;
  }

  p {
    font-size: 1.45em;
    max-width: 700px;
    margin: 1em auto;
    color: lighten($black,15%);
  }
}
