.logo-dvba {
  background-image: url("/assets/img/svg/dvba-logo.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  margin-left: 1em;
  margin-top: -100px;
  max-width: 321px;
  width: 42%;
}
