.logo-invest {
  background: {
    image: img-url("logo.png");
    position: center top;
    repeat: no-repeat;
    size: contain; 
  }
  display: block;
  height: 411px;
  margin: -100px auto 0.3em;
  text-indent: -9999px;
}
