/*---------------------------------------------------------*/
// Primary Navigation Structure - Mobile First

//scss-lint:disable SelectorDepth, IdSelector
// I used an ID to simplify coding the menu with only javascript (easier to act on)
// and the selector depth is necessary as is... 

// but hey, if you want to optimize this...

#primary-nav {
  background-color: $white;
  border-radius: 0.5em 0.5em 0 0;
  font-family: sans-serif;
  font-size: 0.9em;
  line-height: 1.25;
  padding-top: 0.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%; 
  z-index: 1;

  .menu-icon {
    display: block;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 1em;
    top: 0;
    width: 45px;
  }

  h1 { display: none; }

  ul { 
    margin: 0; 
    padding: 0;
  }

  li { 
    cursor: pointer;
    padding: 1em 0.5em;
    position: relative;
  }

  a {
    color: inherit;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
  }

  .menu {
    background-color: rgba($white, 0.9);
    display: none;
    left: 0; 
    padding: 0 0 0.5em;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;

    ul {
      display: none; 

      a {
        border-bottom: 2px dotted $yellow;
        display: block;
        padding: 0 0 1em;
      }

      li {
        padding: 1em 1em 0;
      }

      li:last-child a {
        border-bottom: 0;
      }
    }
  }

  .activated {
    ul,
    li {
      display: block;
      position: relative;
    }
  }

  @include breakpoint(max-width $medium) {
    &.activated .menu { display: block; }
  }

  /*---------------------------------------------------------*/
  // Larger Screens

  @include breakpoint($medium) {

    .menu {
      display: flex;
      position: relative;
      top: 0;

      ul {
        background-color: $white;
        box-shadow: 0 10px 13px rgba($black, 0.3);
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 100%;
      }

      > li { 
        display: inline-block;
        flex: 1 1 auto;

        &:not(:last-child) {
          border-right: 2px solid $yellow; 
        }
      }
    }

    .menu-icon {
      display: none; 
    }
  }

}




