<aside class="news">
  <div>
    <div class="contained">
      <h1>News</h1>
      
      <div class="main-gallery js-flickity" data-flickity-options='{ "cellAlign": "center", "wrapAround": true, "prevNextButtons": false }'>
      {% for post in site.posts limit:3 %}
        <div class="news-post">
          <h2>{{ post.title }}</h2>
          <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>
          <p>{{ post.content | strip_html | strip_newlines | truncatewords:80 }} <a href="{{ post.url }}">Read more »</a></p>
        </div>
      {% endfor %}
      </div>

      <a class="button" href="/blog">See More</a>

    </div>
  </div>
</aside>

<footer class="site-footer">

  <div class="first">
    <div class="contained">
      <h1>Let's Get Together!</h1>
      <p>{{ site.description }}</p>
      <a href="mailto:{{ site.siteemail }}" class="button">Email</a>
  
      <h2>Or call Ken Kelly at <a href="tel:250-386-2239">250.386.2239</a></h2>
    </div>
  </div>
  
  <div class="closing-credits">
    <div class="contained">
      <img src="/assets/img/logo-downtownvictoria.jpg" alt="Downtown Victoria Logo" class="logo-downtownvic">
      <p>&copy; Copyright 2015 Downtown Victoria Business Association. All Rights Reserved. <br>Website designed by <a href="http://www.trapeze.ca">Trapeze</a></p>
    </div>
  </div>

</footer>