<aside class="news">
  <div>
    <div class="contained">
      <h1>News</h1>
      
      {% assign post = site.posts.first %}
      {% assign content = post.content %}

      {{ post.content }}


      <h2>News headline goes here</h2>
      <p class="date">January 15, 2015</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut modo consequat... <a href="#">Read more »</a></p>

      <a class="button" href="#">See More</a>
    </div>
  </div>
</aside>

<footer class="site-footer">

  <div>
    <div class="contained">
      <h1>Let's Get Together!</h1>
      <p>{{ site.description }}</p>
      <a href="mailto:{{ site.siteemail }}" class="button">Email</a>
  
      <h2>Or call Ken Kelly at <a href="tel:250-386-2239">250.386.2239</a></h2>
    </div>
  </div>
  
  <div>
    <div class="contained">
      <img src="/assets/img/logo-downtownvictoria.jpg" alt="Downtown Victoria Logo" class="logo-downtownvic">
      &copy; Copyright 2015 Downtown Victoria Business Association. All Rights Reserved. Website designed by <a href="http://www.trapeze.ca">Trapeze</a></div>
    </div>
  </div>

</footer>